<div class="container" style="height: 100vh;">
    <div class="row justify-content-center text-light">
        <div class="col-7">
       <h1> Free Poetry Contests</h1><br>
       <p> Our poetry contests bring recognition to great poets and provide a source of poetic inspiration. We are always
        on the look-out for poems of all styles – rhyming, free verse, haiku, etc. Contests use our optional site
        currency 'points' - what are points?</p> <br> <br>

       <h3> How to win a poetry contest</h3><br>
        <ol style="font-size: large;font-weight: bold;"><li>Check the hosts other recent contests - look at the kind of poems that won </li><br>
        <li>Enter more contests! Most people with many trophies enter at least 10 contests at a time </li><br>
        <li> Critically review your work: read it out loud line by line </li><br>
       <li> Modern published poems use "picture-able object" metaphors to paint a scene, are more specific than abstract,
        and avoid over-used (cliche) phrases like 'soul', 'pain', 'head over heels' </li><br>
       </ol>
</div>
    </div>
</div>